extend layout-backend

block content-back
  section.content-header
    h1
      | List All Articles
      small you can manage the articles
    ol.breadcrumb
      li
        a(href=env.URL_HOST+'administrator/dashboard')
          i.fa.fa-dashboard
          |  Home
      li
        a(href=env.URL_HOST+'articles-backend/index') Articles
      li.active Data tables

  .content
    .row
      .col-xs-12
        .box
          .box-header
            a.btn.btn-primary(href=env.URL_HOST+'articles-backend/tipsntrick-form') 
              i.fa.fa-plus
              | &nbsp; Add Tips & Trick
            | &nbsp;
            a.btn.btn-primary(href=env.URL_HOST+'articles-backend/eventnnews-form') 
              i.fa.fa-plus
              | &nbsp; Add Event & News
          .box-body
            table.dataTableDynamic.table.table-bordered.table-striped
              thead
                tr
                  th ID
                  th Title
                  th Body
                  th File
                  //- th Create At
                  th Tag
                  th Type
                  th Display
                  th action
              tbody
                each dd, i in dataArticles
                  if dd.display === 'n'
                    -var disp = "<a href='"+env.URL_HOST+"articles-backend/display/"+dd.id+"/"+dd.display+"' class='btn btn-sm btn-danger'>No</a>"
                  else
                    -var disp = "<a href='"+env.URL_HOST+"articles-backend/display/"+dd.id+"/"+dd.display+"' class='btn btn-sm btn-success'>Yes</a>"

                  if dd.article_type === 'tt'
                    -var type = "Tips & Trick"
                    -var updateUrl = env.URL_HOST+'articles-backend/tipsntrick-form/'+dd.id
                  else if dd.article_type === 'en'
                    -var type = "Event & Articles"
                    -var updateUrl = env.URL_HOST+'articles-backend/eventnnews-form/'+dd.id
                  else
                    -var type = "default"
                    -var updateUrl = env.URL_HOST+'articles-backend/defarticle-form/'+dd.id
                  tr
                    td= (i+1)
                    td= dd.title
                    td= dd.body.substring(0, 128)
                    td= dd.file
                    //- td= dd.create_at
                    td= dd.tag
                    td !{type}
                    td !{disp}
                    td
                      a.btn.btn-sm.btn-warning(href=updateUrl )
                        i.fa.fa-edit
                        | &nbsp; update
                      br
                      a.btn.btn-sm.btn-danger(href=env.URL_HOST+'articles-backend/remove/'+dd.id)
                        i.fa.fa-edit
                        | &nbsp; delete