extend layout-backend

block content-back
  section.content-header
    h1
      | List All Promo
      small you can manage the promo
    ol.breadcrumb
      li
        a(href=env.URL_HOST+'administrator/dashboard')
          i.fa.fa-dashboard
          |  Home
      li
        a(href=env.URL_HOST+'promo-backend/index') Promo
      li.active Data tables

  .content
    .row
      .col-xs-12
        .box
          .box-header
            a.btn.btn-primary(href=env.URL_HOST+'promo-backend/form') 
              i.fa.fa-plus
              | &nbsp; Add Promo
          .box-body
            table.dataTableDynamic.table.table-bordered.table-striped
              thead
                tr
                  th ID
                  th Title
                  th Description
                  th File
                  //- th Create At
                  th Display
                  th action
              tbody
                each dd, i in dataPromo
                  if dd.display === 'n'
                    -var disp = "<a href='"+env.URL_HOST+"promo-backend/display/"+dd.id+"/"+dd.display+"' class='btn btn-sm btn-danger'>No</a>"
                  else
                    -var disp = "<a href='"+env.URL_HOST+"promo-backend/display/"+dd.id+"/"+dd.display+"' class='btn btn-sm btn-success'>Yes</a>"
                  tr
                    td= (i+1)
                    td= dd.title
                    td= dd.description
                    td= dd.file
                    //- td= dd.create_at
                    td !{disp}
                    td
                      a.btn.btn-sm.btn-warning(href=env.URL_HOST+'promo-backend/form/'+dd.id)
                        i.fa.fa-edit
                        | &nbsp; update
                      | &nbsp;
                      a.btn.btn-sm.btn-danger(href=env.URL_HOST+'promo-backend/remove/'+dd.id)
                        i.fa.fa-edit
                        | &nbsp; delete